body {
  padding: 15px !important;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.textarea {
  width: 100%;
  word-break: break-all;
  white-space: break-spaces;
  display: block;
}

tr {
  cursor: pointer;
  color: #666;
}

tr:hover {
  color: #000;
}

hr {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
